MYSQL_DATABASE=onlyoffice_collab
MYSQL_USER=onlyoffice_user
MYSQL_PASSWORD=ChangeThisDbPassword!
MYSQL_ROOT_PASSWORD=ChangeThisRootPassword!
JWT_ISSUER=OnlyOfficeCollab
JWT_AUDIENCE=OnlyOfficeCollabClients
JWT_SECRET=CHANGE_THIS_DEMO_SECRET_WITH_AT_LEAST_32_CHARS
ONLYOFFICE_JWT_SECRET=CHANGE_THIS_ONLYOFFICE_SECRET_WITH_AT_LEAST_32_CHARS
SEED_ADMIN_USER=admin
SEED_ADMIN_EMAIL=admin@local.test
SEED_ADMIN_PASSWORD=ChangeThisAdminPassword!
API_PUBLIC_BASE_URL=http://localhost:5000
API_INTERNAL_BASE_URL=http://host.docker.internal:5000
ONLYOFFICE_PUBLIC_URL=http://localhost:8080
ONLYOFFICE_INTERNAL_URL=http://onlyoffice
ANGULAR_PUBLIC_URL=http://localhost:4200
DOMAIN=docs.example.com
LETSENCRYPT_EMAIL=admin@example.com
